.center {
    width: 100vw;
    text-align: center;
    margin-top: 40pt;
    margin-bottom: 30pt;



    .bigIcon {
        border:2pt solid orange;
        border-radius: 100%;
        padding: 10pt;
        font-size: 3rem;
        color: orange
    }
}

