<ion-header>
  <ion-toolbar>
    <ion-title>{{item.t}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" slot="icon-only" (click)="removeAlert()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input (ionChange)="updateItemDetail()" [(ngModel)]="item.t" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea (ionChange)="updateItemDetail()" [(ngModel)]='item.d'></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Due</ion-label>
    <ion-datetime (ionChange)="updateItemDetail()" [(ngModel)]='item.due'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Priority</ion-label>
    <ion-select [(ngModel)]='item.p'>
      <ion-select-option value="ellipse-outline">Low</ion-select-option>
      <ion-select-option value="alert-circle-outline">Medium</ion-select-option>
      <ion-select-option value="flame-outline">High</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Completed <ion-checkbox #completed></ion-checkbox></ion-label>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-justify-items-center">
      <ion-col size="4" *ngFor="let i of this?.icons" class="center">
        <ion-icon (click)="selectedIcon(i)" [color]="item.i == i ? 'success':'dark'" class="ion-margin" size="large" [name]="i"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-tab-bar>
    <ion-tab-button color="success" (click)="updateItem()">
      <ion-icon name="save-outline"></ion-icon>
      Save
    </ion-tab-button>
  </ion-tab-bar> 
</ion-footer>