<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input (ionChange)='changeTitle($event)'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea (ionChange)='changeDescription($event)'></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Due</ion-label>
    <ion-datetime (ionChange)="changeDue($event)"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Priority</ion-label>
    <ion-select (ionChange)='changePriority($event)'>
      <ion-select-option value="ellipse-outline">Low</ion-select-option>
      <ion-select-option value="alert-circle-outline">Medium</ion-select-option>
      <ion-select-option value="flame-outline">High</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Icons</ion-label>
    <ion-grid>
      <ion-row class="ion-justify-items-center">
        <ion-col size="4" *ngFor="let i of this?.icons" class="center">
          <ion-icon (click)="selectedIcon(i)" [color]="this.selected == i ? 'success':'dark'" class="ion-margin"
            size="large" [name]="i"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>



</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button color="danger" (click)='dismiss()'>
      <ion-icon name="close-circle-outline"></ion-icon>
      Close
    </ion-tab-button>
    <ion-tab-button color="success" (click)='addNew()'>
      <ion-icon name="save-outline"></ion-icon>
      Store New Task
    </ion-tab-button>
  </ion-tab-bar>

</ion-footer>