<ion-header>
  <ion-toolbar>
    <ion-title>Create New Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Task Name</ion-label>
    <ion-input placeholder="Task Name" (ionChange)='changeTitle($event)'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Task Description</ion-label>
    <ion-textarea placeholder="Description" (ionChange)='changeDescription($event)'></ion-textarea>
  </ion-item>

  <ion-accordion-group>

    <ion-accordion value="due">
      <ion-item slot="header">
        <ion-label>Due Date</ion-label>
      </ion-item>
      <ion-list slot="content" class="text-center fw">
        <ion-datetime  (ionChange)="changeDue($event)"></ion-datetime>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="priority">
      <ion-item slot="header">
        <ion-label>Priority</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-icon slot="start" *ngIf="this?.priority" [name]="this.priority ? this.priority : ''"></ion-icon>
          <ion-text class="ucword">{{this.levelname}}</ion-text>
          <ion-button slot="end" (click)="changeP()" >Edit</ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion  value="icon">
      <ion-item slot="header">
        <ion-label>Icon</ion-label>
      </ion-item>

      

      <ion-list slot="content" >

        <ion-spinner name="dots" *ngIf="!this.iconsLoaded"></ion-spinner>

        <ion-segment [scrollable]="true" value="icon" *ngIf="this.iconsLoaded">
          <ion-segment-button (click)="selectedIcon(i)" [value]="i" *ngFor="let i of this?.icons" class="center">
            <ion-icon class="ion-padding" [color]="this.selected == i ? 'success':'dark'" [name]="i"></ion-icon>
          </ion-segment-button>
        </ion-segment>

      </ion-list>
    </ion-accordion>

  </ion-accordion-group>

</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button color="danger" (click)='dismiss()'>
      <ion-icon name="close-circle-outline"></ion-icon>
      Close
    </ion-tab-button>
    <ion-tab-button color="success" (click)='addNew()'>
      <ion-icon name="save-outline"></ion-icon>
      Store New Task
    </ion-tab-button>
  </ion-tab-bar>

</ion-footer>

<ion-select #select hidden="true" (ionChange)='changePriority($event)'>
  <ion-select-option value="ellipse-outline">Low</ion-select-option>
  <ion-select-option value="alert-circle-outline">Medium</ion-select-option>
  <ion-select-option value="flame-outline">High</ion-select-option>
</ion-select>