<ion-header>
  <ion-toolbar>
    <ion-title>Create New Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Task Name" ='changeTitle($event)'></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="Description" (ionChange)='changeDescription($event)'></ion-textarea>
  </ion-item>

  <ion-datetime (ionChange)="changeDue($event)"></ion-datetime>

  <ion-item>
    <ion-label position="stacked">Priority</ion-label>
    <ion-select (ionChange)='changePriority($event)'>
      <ion-select-option value="ellipse-outline">Low</ion-select-option>
      <ion-select-option value="alert-circle-outline">Medium</ion-select-option>
      <ion-select-option value="flame-outline">High</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-label position="stacked">Icons</ion-label>
  <ion-segment [scrollable]="true" value="icon">
    <ion-segment-button (click)="selectedIcon(i)" [value]="i" *ngFor="let i of this?.icons" class="center">
      <ion-icon size="large" [color]="this.selected == i ? 'success':'dark'" [name]="i"></ion-icon>
    </ion-segment-button>
  </ion-segment>

</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button color="danger" (click)='dismiss()'>
      <ion-icon name="close-circle-outline"></ion-icon>
      Close
    </ion-tab-button>
    <ion-tab-button color="success" (click)='addNew()'>
      <ion-icon name="save-outline"></ion-icon>
      Store New Task
    </ion-tab-button>
  </ion-tab-bar>

</ion-footer>