#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.positionArrow {
  max-height: 100pt;
  max-width: 100pt;
  position: absolute;
  right:10pt;
}

.arrowHelp {
  margin-top: 100pt;
  position: absolute;
  left:0;
  right:0;
  text-align: center;
  font-weight: bold;
}

.arrowholder {
  position: relative;
}


.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.icons ion-icon {
  margin: 5pt;
}

.sliderItem {
  border-width: 0 0 0 2pt;
  border-style: solid;
}

.sliderItem.low {
  border-color: var(--ion-color-medium) !important;
}

.sliderItem.medium {
  border-color: var(--ion-color-warning) !important;
}

.sliderItem.high {
  border-color: var(--ion-color-danger) !important;
}

.title {
  font-size: 1.2rem;
}

.subtitle {
  font-size: 0.9rem;
}