<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="hideComplete()">
        <ion-icon color="dark" *ngIf="this.hidden" name="eye-off"></ion-icon>
        <ion-icon color="dark" *ngIf="!this.hidden" name="eye"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center">
      To-do List - {{items.length}} Items
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="export()">
        <ion-icon color="dark" name="download"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()">
        <ion-icon color="dark" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="arrowholder ion-no-margin ion-no-padding" *ngIf="!this.loaded">
    <div class="arrowHelp">
      Loading <ion-spinner name="dots"></ion-spinner>
    </div>
  </ion-item>

  <div class="arrowholder ion-no-margin ion-no-padding" *ngIf="this.loaded && this.items.length == 0">
    <ion-img class="positionArrow ion-no-margin ion-no-padding" src="../../assets/arrow.png"></ion-img>
    <div class="arrowHelp">
      <ion-text color="dakr">Add tasks to you list here</ion-text>
    </div>
  </div>

  <ion-list class="ion-no-margin ion-no-padding" *ngIf="this.loaded && this.items.length > 0">
    <ion-item-sliding class="sliderItem no-lines" [class.complete]="item.c" [class.low]="getP(item) == 'low'"
      [class.medium]="getP(item) == 'medium'" [class.high]="getP(item) == 'high'" (click)="setItem(item)" #slidingItems
      *ngFor="let item of items;let i = index" [hidden]="shouldHide(item)">

      <ion-item-options side="start">
        <ion-item-option [color]="item.c ? 'success':'light' ">
          <ion-checkbox #checkboxes [checked]="item.c" (ionChange)="toggleState(item,i,$event)"></ion-checkbox>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <div class="icons ion-margin-right">
          <ion-icon *ngIf="item.i" [name]="item.i"></ion-icon>
          <ion-icon *ngIf="item.p" [name]="item.p" [color]="setColour(item)"></ion-icon>
        </div>

        <ion-list>
          <ion-text class="title">{{item.t}}</ion-text>
          <br>
          <ion-text class="subtitle">{{item.d}}</ion-text>
        </ion-list>

        <ion-button slot="end" shape="round" fill="none" (click)="details(item)">
          <ion-icon slot="icon-only" [name]="item.c ? 'checkmark-circle':'calendar'" [color]="item.c ? 'success':'dark' "></ion-icon>
        </ion-button>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color='light' (click)="social(item)">
          <ion-icon size="large" name="share-social-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color='primary' (click)="edit(i)">
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color='danger' (click)="removeAlert(i)">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-progress-bar class="bottomfxing" slot="fixed" color="success" [value]="this.percentage"></ion-progress-bar>
</ion-content>